@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent: 13 255 13; /* #0DFF0D green, or maybe stark red? Let's use red/orange for "running out" */
  }
}

body {
  background-color: #050505;
  color: #FAFAFA;
}
