
CREATE OR REPLACE FUNCTION create_pending_listing(
  p_name TEXT,
  p_slug TEXT,
  p_url TEXT,
  p_description TEXT,
  p_logo_url TEXT,
  p_category_id UUID,
  p_initial_bid INTEGER,
  p_token_hash TEXT
) RETURNS UUID AS \$\$
DECLARE
  v_listing_id UUID;
BEGIN
  INSERT INTO listings (name, slug, url, description, logo_url, category_id, current_bid, status)
  VALUES (p_name, p_slug, p_url, p_description, p_logo_url, p_category_id, p_initial_bid, 'pending')
  RETURNING id INTO v_listing_id;

  INSERT INTO bids (listing_id, amount, previous_amount, amount_paid, status)
  VALUES (v_listing_id, p_initial_bid, 0, p_initial_bid, 'pending');

  INSERT INTO listing_access (listing_id, token_hash)
  VALUES (v_listing_id, p_token_hash);

  RETURN v_listing_id;
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;

REVOKE EXECUTE ON FUNCTION create_pending_listing FROM PUBLIC;
GRANT EXECUTE ON FUNCTION create_pending_listing TO service_role;

